<!-- **** doctor-html *** -->
<!-- <div class="doctor-style">
  <div class="card">
    <div class="card-header">
      <strong> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Make an appoinment</strong>
    </div>
    <div class="card-body">
      <form>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="">Full Name</label>
              <input type="name" class="form-control form-control-sm" id="" placeholder="Enter Full Name">
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <label for="">Email</label>
              <input type="email" class="form-control form-control-sm" id="" placeholder="Enter Full Name">
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <label for="">Phone Number</label>
              <input type="number" class="form-control form-control-sm" id="" placeholder="Enter Phone Number">
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <label for="">Date</label>
              <input class="form-control form-control-sm" type=date step=7 min=2014-09-08>

            </div>
          </div>








          <div class="col-12">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Select Specialists</label>
              <select class="form-control form-control-sm" id="exampleFormControlSelect1">
                <option>Ayesha Sadiq</option>
                <option>Rashid Hassain</option>
                <option>Ajay Singh</option>
                <option>Daniel D'souza</option>
                <option>Rajat Agarwal</option>
              </select>
            </div>
          </div>


          <div class="col-12">
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Note</label>
              <textarea class="form-control form-control-sm" id="exampleFormControlTextarea1" rows="2"></textarea>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Time Sloat</label><br />

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                  value="option1">
                <label class="form-check-label" for="inlineRadio1">08:00AM</label>
              </div>

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                  value="option2">
                <label class="form-check-label" for="inlineRadio2">10:00AM</label>
              </div>

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                  value="option2">
                <label class="form-check-label" for="inlineRadio3">11:00AM</label>
              </div>

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4"
                  value="option2">
                <label class="form-check-label" for="inlineRadio4">12:00PM</label>
              </div>

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5"
                  value="option2">
                <label class="form-check-label" for="inlineRadio5">01:00PM</label>
              </div>

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio6"
                  value="option2">
                <label class="form-check-label" for="inlineRadio6">02:00PM</label>
              </div>

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio7"
                  value="option2">
                <label class="form-check-label" for="inlineRadio7">03:00PM</label>
              </div>

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio8"
                  value="option2">
                <label class="form-check-label" for="inlineRadio8">04:00PM</label>
              </div>

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio9"
                  value="option2">
                <label class="form-check-label" for="inlineRadio9">05:00PM</label>
              </div>

            </div>

          </div>
          <button type="button" class="btn submit-btn btn-md btn-block">Submit</button>
        </div>


      </form>
    </div>
  </div>
</div> -->



<!-- **** salon and beauty-html *** -->
<!-- <div class="salon_and_beauty">
  <div class="card">
    <div class="card-header">
      <strong> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Make an appoinment</strong>
    </div>
    <div class="card-body">
      <form>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="">Full Name</label>
              <input type="name" class="form-control form-control-sm" id="" placeholder="Enter Full Name">
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <label for="">Email</label>
              <input type="email" class="form-control form-control-sm" id="" placeholder="Enter Full Name">
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <label for="">Phone Number</label>
              <input type="number" class="form-control form-control-sm" id="" placeholder="Enter Phone Number">
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <label for="">Date</label>
              <input class="form-control form-control-sm" type=date step=7 min=2014-09-08>

            </div>
          </div>



          <div class="col-12">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Select Specialists</label>
              <select class="form-control form-control-sm" id="exampleFormControlSelect1">
                <option>Ayesha Sadiq</option>
                <option>Rashid Hassain</option>
                <option>Ajay Singh</option>
                <option>Daniel D'souza</option>
                <option>Rajat Agarwal</option>
              </select>
            </div>
          </div>


          <div class="col-12">
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Note</label>
              <textarea class="form-control form-control-sm" id="exampleFormControlTextarea1" rows="2"></textarea>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Time Sloat</label><br />

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                  value="option1">
                <label class="form-check-label time-text" for="inlineRadio1">08:00AM</label>
              </div>

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                  value="option2">
                <label class="form-check-label time-text" for="inlineRadio2">10:00AM</label>
              </div>

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                  value="option2">
                <label class="form-check-label time-text" for="inlineRadio3">11:00AM</label>
              </div>

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4"
                  value="option2">
                <label class="form-check-label time-text" for="inlineRadio4">12:00PM</label>
              </div>

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5"
                  value="option2">
                <label class="form-check-label time-text" for="inlineRadio5">01:00PM</label>
              </div>

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio6"
                  value="option2">
                <label class="form-check-label time-text" for="inlineRadio6">02:00PM</label>
              </div>

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio7"
                  value="option2">
                <label class="form-check-label time-text" for="inlineRadio7">03:00PM</label>
              </div>

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio8"
                  value="option2">
                <label class="form-check-label time-text" for="inlineRadio8">04:00PM</label>
              </div>

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio9"
                  value="option2">
                <label class="form-check-label time-text" for="inlineRadio9">05:00PM</label>
              </div>

            </div>

          </div>
          <button type="button" class="btn submit-btn btn-md btn-block">Submit <img src="../assets/img/send-svgrepo-com.svg"></button>
        </div>


      </form>
    </div>
  </div>
</div> -->



<!-- **** fitness and sports-html *** -->
<!-- <div class="fitness_and_sports">
  <div class="card">
    <div class="card-header">
      <strong> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Make an appoinment</strong>
    </div>
    <div class="card-body">
      <form>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="">Full Name</label>
              <input type="name" class="form-control form-control-sm" id="" placeholder="Enter Full Name">
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <label for="">Email</label>
              <input type="email" class="form-control form-control-sm" id="" placeholder="Enter Full Name">
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <label for="">Phone Number</label>
              <input type="number" class="form-control form-control-sm" id="" placeholder="Enter Phone Number">
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <label for="">Date</label>
              <input class="form-control form-control-sm" type=date step=7 min=2014-09-08>

            </div>
          </div>



          <div class="col-12">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Select Specialists</label>
              <select class="form-control form-control-sm" id="exampleFormControlSelect1">
                <option>Ayesha Sadiq</option>
                <option>Rashid Hassain</option>
                <option>Ajay Singh</option>
                <option>Daniel D'souza</option>
                <option>Rajat Agarwal</option>
              </select>
            </div>
          </div>


          <div class="col-12">
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Note</label>
              <textarea class="form-control form-control-sm" id="exampleFormControlTextarea1" rows="2"></textarea>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Time Sloat</label><br />

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                  value="option1">
                <label class="form-check-label time-text" for="inlineRadio1">08:00AM</label>
              </div>

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                  value="option2">
                <label class="form-check-label time-text" for="inlineRadio2">10:00AM</label>
              </div>

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                  value="option2">
                <label class="form-check-label time-text" for="inlineRadio3">11:00AM</label>
              </div>

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4"
                  value="option2">
                <label class="form-check-label time-text" for="inlineRadio4">12:00PM</label>
              </div>

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5"
                  value="option2">
                <label class="form-check-label time-text" for="inlineRadio5">01:00PM</label>
              </div>

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio6"
                  value="option2">
                <label class="form-check-label time-text" for="inlineRadio6">02:00PM</label>
              </div>

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio7"
                  value="option2">
                <label class="form-check-label time-text" for="inlineRadio7">03:00PM</label>
              </div>

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio8"
                  value="option2">
                <label class="form-check-label time-text" for="inlineRadio8">04:00PM</label>
              </div>

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio9"
                  value="option2">
                <label class="form-check-label time-text" for="inlineRadio9">05:00PM</label>
              </div>

            </div>

          </div>
          <button type="button" class="btn submit-btn btn-md btn-block"> Submit <img src="../assets/img/send-svgrepo-com2.svg"></button>
        </div>


      </form>
    </div>
  </div>
</div> -->



<!-- **** Education and Non-Profits -html *** -->
<div class="education-and-non-Profits">
  <div class="card">
    <div class="card-header">
      <strong> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Make an appoinment</strong>
    </div>
    <div class="card-body">
      <form>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="">Full Name</label>
              <input type="name" class="form-control form-control-sm" id="" placeholder="Enter Full Name">
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <label for="">Email</label>
              <input type="email" class="form-control form-control-sm" id="" placeholder="Enter Full Name">
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <label for="">Phone Number</label>
              <input type="number" class="form-control form-control-sm" id="" placeholder="Enter Phone Number">
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <label for="">Date</label>
              <input class="form-control form-control-sm" type=date step=7 min=2014-09-08>

            </div>
          </div>



          <div class="col-12">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Select Specialists</label>
              <select class="form-control form-control-sm" id="exampleFormControlSelect1">
                <option>Ayesha Sadiq</option>
                <option>Rashid Hassain</option>
                <option>Ajay Singh</option>
                <option>Daniel D'souza</option>
                <option>Rajat Agarwal</option>
              </select>
            </div>
          </div>


          <div class="col-12">
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Note</label>
              <textarea class="form-control form-control-sm" id="exampleFormControlTextarea1" rows="2"></textarea>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Time Sloat</label><br />

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                  value="option1">
                <label class="form-check-label time-text" for="inlineRadio1">08:00AM</label>
              </div>

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                  value="option2">
                <label class="form-check-label time-text" for="inlineRadio2">10:00AM</label>
              </div>

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                  value="option2">
                <label class="form-check-label time-text" for="inlineRadio3">11:00AM</label>
              </div>

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4"
                  value="option2">
                <label class="form-check-label time-text" for="inlineRadio4">12:00PM</label>
              </div>

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5"
                  value="option2">
                <label class="form-check-label time-text" for="inlineRadio5">01:00PM</label>
              </div>

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio6"
                  value="option2">
                <label class="form-check-label time-text" for="inlineRadio6">02:00PM</label>
              </div>

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio7"
                  value="option2">
                <label class="form-check-label time-text" for="inlineRadio7">03:00PM</label>
              </div>

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio8"
                  value="option2">
                <label class="form-check-label time-text" for="inlineRadio8">04:00PM</label>
              </div>

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio9"
                  value="option2">
                <label class="form-check-label time-text" for="inlineRadio9">05:00PM</label>
              </div>

            </div>

          </div>
          <button type="button" class="btn submit-btn btn-md btn-block"> Submit <img src="../assets/img/send-svgrepo-com.svg"></button>
        </div>


      </form>
    </div>
  </div>
</div>

<router-outlet></router-outlet>